@using EdicoesEmMassa.Model
@model List<IncubadoraModel>
@{
    ViewData["Title"] = "Cadastro de Incubadoras";
}
<div class="text-center">
    <h1 class="display-4">Dashboard</h1>
    <tbody>
    <div class="row">
        
        @if(Model != null && Model.Any())
        {
            foreach(var incubadora in Model)
            {
                    var color = "";
                    @if(incubadora.TemperaturaFixada > 30)
                    {
                        color = "bg-danger";
                    }
                    @if(incubadora.TemperaturaFixada <= 30)
                    {
                        color = "bg-success";
                    }

                    <div class="card col-sm-3 @color">
                        <div class="card-body">
                        <h5 class="card-title">@incubadora.TemperaturaFixada ºc</h5>
                        <p class="card-text">Temperatura Ideal: @incubadora.TemperaturaFixada ºc</p>
                        <p class="card-text">Incubadora código: @incubadora.CodIncubadora</p>
                        <a href="#" class="btn btn-primary">Editar Incubadora</a>
                    </div>
                </div>
            }
        }
    </tbody>
    </div>
</div>



