@{
    ViewData["Title"] = "Cadastrar Incubadora";
}
<div class="text-center">
  
    <h1 class="display-4">Cadastrar Incubadora</h1>
    
</div>

<form>
  <div class="form-group">
    <label for="codIncubadora">Código da Incubadora</label>
    <input type="text" class="form-control" placeholder="Digite o código da Incubadora">
  </div>
  <div class="form-group">
    <label for="tempAtualFixada">Temperatura Atual Fixada</label>
    <input type="text" class="form-control" placeholder="Digite a temperatura atual em que a Incubadora está trabalhando agora">
  </div>
  <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
  <a class="btn btn-secondary btn-block" asp-controller="Incubadora" asp-action="Index" role="button">Voltar</a>
</form>



